<nav id="mainNavbar" class="navbar fixed-top navbar-expand-md navbar-dark">
<a class="navbar-brand" href="#">EAST RIDGE POTTERY</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fas fa-shopping-cart"></i>SHOP</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fas fa-coffee"></i>CUSTOM ORDERS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fas fa-images"></i>GALLERIES</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fas fa-address-card"></i>ABOUT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fas fa-phone"></i>CONTACT</a>
    </li>

  </ul>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fas fa-user-circle"></i>LOG IN</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fas fa-plus-circle"></i>REGISTER</a>
    </li>
  </ul>

</div>
</nav>
