<nav id="mainNavbar" class="navbar fixed-top navbar-expand-lg navbar-dark">
<a class="navbar-brand" href="#">EAST RIDGE POTTERY</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fas fa-shopping-cart d-inline d-lg-none d-xl-inline"></i>SHOP</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fas fa-coffee d-inline d-lg-none d-xl-inline"></i>CUSTOM ORDERS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fas fa-images d-inline d-lg-none d-xl-inline"></i>GALLERIES</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fas fa-address-card d-inline d-lg-none d-xl-inline"></i>ABOUT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fas fa-phone d-inline d-lg-none d-xl-inline"></i>CONTACT</a>
    </li>

  </ul>

  <ul class="navbar-nav ml-auto flex-lg-column flex-xl-row align-items-Center">
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fas fa-user-circle d-inline d-lg-none d-xl-inline"></i>LOG IN</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fas fa-plus-circle d-inline d-lg-none d-xl-inline"></i>REGISTER</a>
    </li>
  </ul>

</div>
</nav>
