<h1>Create New Piece</h1>

<form action="/pieces" method="GET">
    <button type="submit">Back</button>
</form>

<form action="/pieces" method="POST">
    <input type="text" name="name" placeholder="Name" />
    <input type="text" name="price" placeholder="Price (USD)" />
    <input type="text" name="imageUrl" placeholder="Image URL" />
    <button type="submit">Submit</button>
</form>
