<% include ./partials/header %>

<div class="container-fluid">
  <section id="shopPageHeader" class="row justify-content-center">
      <h1 class="display-1">Shop Pottery</h1>
  </section>

  <section id="product-categories" class="row">
      <% categories.forEach(function (category) { %>
        <div class="col-xl-3 col-lg-4 col-md-6">
          <a href='/shop/<%= category._id %>'>
            <div class="card mb-5">
              <div class="card-top">
                <img class="card-img-top" src='<%= category.photo %>' />
              </div>
              <div class="card-body border-top">
                  <h5 class="display-5"><%= category._id.replace(/_/gi, ' ') %></h5>
              </div>
            </div>
          </a>
        </div>
      <% }) %>
  </section>


</div>
