<% include ./partials/header %>

<div class="container-fluid">
  <section id="shopPageHeader" class="row justify-content-center height-lg-300px
    height-sm-400px height-500px">
      <h1 class="header-text display-1">Shop Pottery</h1>
  </section>

  <section id="product-categories" class="row item-display">
      <% categories.forEach(function (category) { %>
        <div class="col-xl-3 col-lg-4 col-md-6">
          <a href='/shop/<%= category._id %>'>
            <div class="card mb-5">
              <div class="card-top">
                <img class="card-img-top" src='<%= category.photo %>' />
              </div>
              <div class="card-body border-top">
                  <h5 class="display-5"><%= category._id.replace(/_/gi, ' ') %></h5>
              </div>
            </div>
          </a>
        </div>
      <% }) %>
  </section>


</div>

<!--- script to control the height of the header section --->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/category-header.js"></script>
<!--- script for mouseover animation on potter cards --->
<script type="text/javascript" src="/js/pottery-card-mouseover.js"></script>

<% include ./partials/footer %>
