body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  background: #7AC4FF;
  margin-top: 60px;
}

section {
  padding-bottom: 5rem;
}

p {
  font-size: 2em;
  color: #0d2238;
}

h5 {
  color: #0d2238;
}

.carousel .img {
  padding: 20px;
  height: 400px;
  width: auto;
}

h1, h2 {
  text-transform: uppercase;
}



#carousel-1, #carousel-2 {
  background: #a7d3e8;
}

#mainHeader {
  width: auto;
  background: url("../img/justin-cron-799590-unsplash.jpg");
  background-size: 120rem 80rem;
  color: #e2f8ff;
  font-weight: 700;
  padding-top: 100px;
}

.header-text {
  /*background: rgba(166, 199, 252, 0.2);*/
  margin: auto;
  padding-top: 50px;
  color: #e2f8ff;
  font-weight: 700;
  text-shadow: 2px 2px black;
}

#mainNavbar {
  background-color: #e8431e;
  font-size: 1.2em;
  font-weight: 700;
  min-height: 4em;
}

#mainNavbar .nav-link, #mainNavbar .navbar-brand {
  color: #e2f8ff;
}

#mainNavbar .nav-link:hover {
  color: #87ceeb;
}

i {
  margin-right: .25em;
}

#potteryCards .card {
  margin-bottom: 3rem;
  background: #a7d3e8;
  font-size: .75rem;
}

#location-and-hours a {
  color: #0d2238;
  text-decoration: none;
}

#location-and-hours a:hover {
  color: #e8431e;
}

#mainFooter {
  background: #e8431e;
  min-height: 12rem;
}

#mainFooter i {
  color: #e2f8ff;
  font-size: 50px;
  padding: 10px;
}

#mainFooter i:hover {
  color: #87ceeb;
}

#shopPageHeader {
  margin-top: 50px;
  margin-bottom: 20px;

  width: auto;
  background: url('../img/wood-background.jpeg');
}

.item-display .card {
  height: 400px;
  width: auto;
  background: #e2f8ff;
}


.item-display .card-top {
    height: 70%;
    width: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    align-items: center;
    background: #C6C6C6;
}

#item-cards.item-display .card-top {
  height: 60%
}

.item-display .card-img-top {
  display: block;
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
  margin: auto;
}

.item-display .card-body {
  display: flex;
  align-items: center;
}

.item-display.card-body h5 {
  margin: auto;
  font-size: 1.5em;
  text-transform: capitalize;
  color: black;

}

.item-display a {
  text-decoration: none;
}

#item-cards.item-display .card-body {
  display: flex;
  align-items: flex-start;
  justify-content: vertical;
  width: 100%
}

#item-cards .item-display .card-body h5 {
  margin: auto;
  padding: auto;
}

#item-cards .item-display .card-body .item-price.card-text {
  font-size: 1.2em;
}


#categoryPageHeader {
  margin-top: 50px;
  height: 300px;
  margin-bottom: 20px;
  width: auto;
  background: url('../img/wood-deck.jpeg');
}

#showPageHeader {
  margin-top: 50px;
  height: 200px;
  margin-bottom: 20px;
  width: auto;
  background: url('../img/dry-clay.jpg');
}
